* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.square {
  width: 100px;
  height: 100px;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.btn__playagain {
  display: block;
  margin-top: 2rem;
  border: none;
  outline: none;
  background-color: aquamarine;
  font-size: large;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn__playagain:hover {
  opacity: 0.75;
}
