@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@800&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Turret Road', cursive;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.square {
  width: 100px;
  height: 100px;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  background-color: turquoise;
  opacity: 0.75;
}

.square:focus {
  outline: none;
}

.btn__playagain {
  display: block;
  margin-top: 2rem;
  border: none;
  outline: none;
  background-color: aquamarine;
  font-size: large;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn__playagain:hover {
  opacity: 0.75;
}

.status {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}
